body{background-color:#F0A5C8;
    text-align: center;
    margin:0 50px;
}
body h1{
    text-align: center;
}
.pageStuff{
    background-color: #FFFFFF;
    width: 450px;
    margin: 0 auto;
}
.pageStuff ol{
    font-weight: bold;
    text-align: left;
    line-height: 300%;
}
li{
text-align: left;
}
.pageStuff p{ 
    max-width: 100px ;
}
a:link{text-decoration: none;
}
/* .pageStuff h1 {
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif; */
/* } */
.white{
    color:#FFFFFF;

}
.coolFont{
    font-family: Arial, Helvetica, sans-serif;
}
.smallFont{
    font-size: 95%;
    max-width: 450px;
    margin: 0 auto;
   line-height: 30px;

}
.img {
    width:200px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.quote{
    font-size: 30px;
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    line-height: 50px;
}
h1 a:hover {
    color:black;
    font-size: 50px;
    
}
h1{
    max-width: fit-content;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 50px;
}
.h2{
    text-align: center;
    max-width: 100px;
}
ol {
    /* padding-left: 10em; */
    display: block;
    margin: 0 auto;
    padding-left: 30%;
    /* text-align: center; */
}
li {
    line-height: 30px;
}
.center{
   margin:0 auto;

}
.wrap{
    max-width: 325px;
    margin: 0 auto
}
.pad{
    padding: 30px;
}