body {background-color: rgb(255, 246, 124);}
p{font-size: 300%}

.small_paragraph{font-style: italic;}
small{text-align: center;}
.img{
    max-width: 400px;
}
.highlight{
    background-color: rgb(254, 254, 67);
    max-width: fit-content;
}